<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
   <link rel="stylesheet" href="{{ asset_path style.css }}">
 <script type="text/javascript" src="https://cdn.rawgit.com/mathjax/MathJax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</head>
<body>
  <header>
    <h1>{{ site.title }}</h1>
  </header>
  <main>
    {{ content }}
    
  </main>
  <footer>
    <p>Copyright &copy; {{ site.time | date: "%Y" }} {{ site.author }}</p>
     
  </footer>
</body>
</html>
